<div class="menu">
   
    <nav class="logo">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        <h3>John Serrano</h3>
    </nav>
    <div class="menu_bar">
        {{#if @blog.navigation}}
            <a class="bt-menu" href="#"><span class="icon-menu"></span></a>
        {{/if}}
    </div>
    <div class="nav">        
        <ul>
            {{#foreach navigation}}
                <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{/foreach}}
        </ul>
    </div>
    <span class="nav-cover"></span>
</div>
